.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  //grid-gap: 20px;
  width: 100%;
  height: calc(100vh - 188px);
  padding: 0 0em;
  box-sizing: border-box;
  overflow: hidden;

  .contact-left-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 90%;
    margin: auto;
    //margin-left: 30px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    color: $offwhite;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-left-silk {
      width: 100%;
      height: 100%;
      //background-color: rgba(32, 123, 136, 0.6); /* negro al 50% */
      //color: $teal;
      position: absolute;
      inset: 0; /* ocupa todo el contenedor padre */
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    h1 {
      position: relative; /* para que quede encima del overlay */
      z-index: 2;

      background-color: transparent;
    }
  }

  .contact-right-wrapper {
    display: flex;
    flex-direction: column; //era row

    justify-content: center; //era start
    //margin-left: 50px;
    align-items: center;
    width: 100%; //80
    //margin: 25px;
  }

  .contact-section {
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.5em;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: start;
    align-items: flex-start;
    padding: 1em;
  }

  .contact-icon {
    font-size: 2em;
    color: $dark-teal;
  }
  .contact-text {
    font-size: 1.5em;
    font-weight: 600;
    color: #333333;
  }
  .contact-text a {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
  }

  .contact-text a:visited,
  .contact-text a:hover,
  .contact-text a:active {
    color: #3cb371;
  }

  // Estilos para responsive
  @media (max-width: 1024px) {
    /* 1. Cambiamos a disposici칩n de 1 columna (lado izquierdo arriba, lado derecho abajo) */
    grid-template-columns: 1fr;

    /* 2. Dejamos que la altura sea dictada por el contenido (auto), eliminando la altura fija */
    height: auto;

    /* 3. Ajustamos el padding lateral */
    padding: 0;

    /* LADO IZQUIERDO (IMAGEN) */
    .contact-left-wrapper {
      width: 90%; /* La imagen  centrada */
      height: 300px; /* Le damos una altura fija para que se vea bien en la parte superior */
      margin: 20px auto 0; /* Un poco de margen superior e inferior, centrado horizontal */
      font-size: 1.5em;
    }

    /* LADO DERECHO  */
    .contact-right-wrapper {
      padding: 20px 0;

      .contact-section {
        width: 90%; /* Damos m치s espacio al contenido  */
        max-width: 100%;
        padding: 0;
      }

      /* Reducimos el tama침o de la fuente para mejor visualizaci칩n */
      .contact-icon {
        font-size: 1.5em;
      }
      .contact-text {
        font-size: 1.2em;
      }
    }
  }
}
