.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  //grid-gap: 20px;
  width: 100%;
  height: calc(100vh - 188px);
  padding: 0 0em;
  box-sizing: border-box;
  overflow: hidden;

  .contact-left-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed; //Imagen fija
    height: 100%;
    overflow: hidden;
    position: relative;
    color: $offwhite;
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 2em;
    //opacity: 0.9;

    .contact-left-silk {
      width: 100%;
      height: 100%;
      background-color: rgba(32, 123, 136, 0.6); /* negro al 50% */
      //color: $teal;
      position: absolute;
      inset: 0; /* ocupa todo el contenedor padre */
    }

    h1 {
      position: relative; /* para que quede encima del overlay */
      z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
    }
  }

  .contact-right-wrapper {
    display: flex;
    flex-direction: row;
    //gap: 3em;
    justify-content: start;
    margin-left: 50px;
    align-items: center;
    width: 100%;
    //margin: 25px;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.5em;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: start;
    align-items: flex-start;
    padding: 3em;
  }

  .contact-icon {
    font-size: 2em;
    color: $dark-teal;
  }
  .contact-text {
    font-size: 1.5em;
    font-weight: 600;
    color: #333333;
  }
  .contact-text a {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
  }

  .contact-text a:visited,
  .contact-text a:hover,
  .contact-text a:active {
    color: #3cb371;
  }
}
