.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;

  .left-side {
    display: flex;
    align-items: center;
  }

  .logo-side {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      width: auto;
      object-fit: cover;
      margin-right: 15px;
    }
  }

  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;

    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    align-items: center;

    .nav-link-active {
      border-bottom: 1px solid black;
      color: $charcoal;
      font-weight: 700;
    }

    a {
      color: $grey;
      text-decoration: none;

      &:hover {
        color: $charcoal;
      }
    }

    &:hover {
      color: $charcoal;
      border-bottom: 1px solid black;
    }
  }
  .right-side {
    display: flex;
    align-items: center;

    .right-side-wrapper {
      margin-left: 20px;
      text-transform: uppercase;
      font-size: 0.9rem;

      a {
        color: $grey;
        text-decoration: none;

        // Estilo para el icono-link (Aplica a LOGIN y LOGOUT)
        &.icon-link {
          display: inline-flex;
          align-items: center;
          gap: 8px; /* <-- Aplicamos el espacio aquí para el texto/icono */

          // Estilos de hover para el enlace completo
          &:hover {
            color: $charcoal;
          }
        }
      }
      .user-info {
        display: flex;
        align-items: center;
        gap: 12px; // ← separa el texto del ícono
        font-size: 1rem;
        align-items: center;

        .user-greeting {
          font-weight: 500;
          color: #333;
        }

        .user-email {
          font-weight: 500;
          color: $dark-teal;
        }
      }
    }
  }
}
