.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .left-side {
    display: flex;
  }

  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;

    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;

    .nav-link-active {
      border-bottom: 1px solid black;
      color: $charcoal;
    }

    a {
      color: $grey;
      text-decoration: none;

      &:hover {
        color: $charcoal;
      }
    }

    &:hover {
      color: $charcoal;
      border-bottom: 1px solid black;
    }
  }
  .right-side {
    display: flex;
    align-items: center;

    .right-side-wrapper {
      margin-left: 20px;
      text-transform: uppercase;
      font-size: 0.9rem;

      a {
        color: $grey;
        text-decoration: none;

        &:hover {
          color: $charcoal;
        }
      }

      &:hover {
        color: $charcoal;
      }
      .user-info {
        display: flex;
        align-items: center;
        gap: 12px; // ← separa el texto del ícono
        font-size: 1rem;

        .user-greeting {
          font-weight: 500;
          color: #333;
        }

        .user-email {
          font-weight: 500;
          color: $dark-teal;
        }
      }
    }
  }
}
